:root{
  --font: "Roboto", sans-serif;
  --color-frontend: #6BD1FF;
  --color-backend: #00C86F;
  --color-innyges: #FFBA05;
  --azul-claro: #2271D1;
  --azul-oscuro: #03122F;

}

body {
  margin: 0;
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}